<c-card class="mb-4">
  <c-card-body>
    <div class="container">
      <h2>Registrar Calificaciones</h2>
      <form>
        <div class="form-group">
          <label for="student">Estudiante:</label>
          <select id="student" class="form-control" required>
          </select>
        </div>

        <div class="form-group">
          <label for="deb">Deberes (DEB):</label>
          <input type="number" id="deb" class="form-control" name="deb" required>
        </div>

        <div class="form-group">
          <label for="exa">Examen (EXA):</label>
          <input type="number" id="exa" class="form-control" name="exa" required>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </div>
  </c-card-body>
</c-card>