<!-- tu-componente.component.html -->

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <h2>Registrar Estudiante</h2>
        <form>
          <div class="form-group">
            <label for="firstName">Nombres:</label>
            <input type="text" id="firstName" class="form-control" name="firstName" #firstName required>
          </div>

          <div class="form-group">
            <label for="lastName">Apellidos:</label>
            <input type="text" id="lastName" class="form-control" name="lastName" #lastName required>
          </div>

          <c-row>
            <c-col>
              <button type="submit" class="btn btn-primary">Registrar</button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>